html {
  font-size: calc(18px + (18 - 16) * (100vw - 400px) / (800 - 400));
}

body {
  background-color: @basicBlue;
  font-family: @open;
  position: relative;
}

h1 {
  font-weight: normal;
}

h2 {
  font-style: italic;
  font-weight: normal;
  font-family: @notoSerif;
}

a {
  color: @linkBlue;
  text-decoration: none;

  &:target {
    color: @white;
  }
}

.underlined:after {
  content: "";
  display: block;
  width: 50px;
  border-bottom: 1px solid @white;
  margin-top: 15px;
}

.active {
  color: @white;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
  max-width: 1600px;

  @media (max-width: 165px) {
    width: 100%;
  }
}

::-webkit-input-placeholder {
  color: @darkBlue;
}

:-moz-placeholder {
  color: @darkBlue;
  opacity: 1;
}

::-moz-placeholder {
  color: @darkBlue;
  opacity: 1;
}

:-ms-input-placeholder {
  color: @darkBlue;
}

:-ms-input-placeholder {
  color: @darkBlue;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../../fonts/Noto_Sans/NotoSans-Regular.ttf");
}

@font-face {
  font-family: "Noto Serif";
  src: url("../../fonts/Noto_Serif/NotoSerif-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins/Poppins-Regular.ttf");
}
