<html>
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Description">
  <meta name="author" content="Sven Ahrens">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif|Open+Sans|Poppins" rel="stylesheet">

  <link rel="stylesheet" href="../../dist/styles.css" >
</head>
<body>
    <div class="wrapper">
      <header>
        <img src="../../assets/logo_rgb_inverted_dark.svg"></img>
        <nav>
          <ul>
            <li><a href="#">Startseite</a></li>
            <li><a href="#">Statistiken</a></li>
          </ul>
        </nav>
      </header>
      <section id="imprint">
        <h1>Impressum</h1>
        <h2>djumla GmbH</h2>
        <div class="underline"></div>
        <address>
          Alte Wallgasse 6 </br>
          50672 Köln
        </address>
        <p>
          Vertreten durch David Jardin
        </p>
        <p>
          Telefon: +49 221 677 863 52 0 </br>
          Fax: +49 221 677 863 52 2
        </p>
        <p>
          UmSt-ID-Nr.: DE269200460
        </p>
        <p>
          Registereintrag
          Eintragung im Handelsregister
          Registergericht: Amtsgericht Köln
          Registernummer: HRB 85984
        </p>
        <p>
          E-Mail: <a href="mailto:info@djumla.de">info@djumla.de</a>
        </p>
        <p>
          Online Dispute Resolution (ODR) </br>
          Hiermit informieren wir Sie über die Online Dispute Resolution (ODR) –
          einer Streitschlichtungsplattform der EU. Weitere Informationen erhalten Sie </br> unter folgendem Link: <a href="http://ec.europa.eu/consumers/odr/">http://ec.europa.eu/consumers/odr/</a>
        </p>
    </section>

    <footer>
      <div id="info-container">
        <nav>
          <div class="underline"></div>
          <ul>
            <li><a href="./src/views/imprint.html">Impressum</a></li>
            <li><a href="./src/views/contact.html">Kontakt</a></li>
            <li><a href="./src/views/privacyPolicy.html">Datenschutz</a></li>
          </ul>
        </nav>
      </div>
      <div id="copyright">Copyright 2016 - flopspot</div>
    </footer>
  </div>
</body>
</html>
