<html>
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Description">
  <meta name="author" content="Sven Ahrens">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif|Open+Sans|Poppins" rel="stylesheet">

  <link rel="stylesheet" href="../../dist/styles.css" >

  <script src="node_modules/vue/dist/vue.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"
  ></script>
  <script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
  integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
  crossorigin="anonymous"
  ></script>
  <script src="src/js/design/flopspot-responsive.js"></script>
  <script src="src/js/design/flopspot-observer.js"></script>
</head>
<body>
  <div id="app">
    <div class="wrapper">
      <header>
        <img src="../../assets/logo_rgb_inverted_dark.svg"></img>
        <nav>
          <ul>
            <li><a href="../../index.html">Startseite</a></li>
            <li><a class="active" href="./statistics.html">Statistiken</a></li>
          </ul>
        </nav>
      </header>
</body>
</html>
