@import "./variables.less";
@import "./base/normalize.less";
@import "./modules/thumbs.less";
@import "./modules/inputs.less";
@import "./modules/arrow.less";

body {
  background-color: @basicBlue;
  font-family: @openSans;
  font-size: 18px;
}
h1 {
  color: @darkBlue;
  font-size: 1.4em;
  font-weight: normal;
}
h2 {
  color: @white;
  font-size: 1.7em;
  font-style: italic;
  font-weight: normal;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: @linkBlue;
  text-decoration: none;
  &:target {
    color: @white;
  }
}

.underline {
  width: 80px;
  border-bottom: 1px solid @darkBlue;
  margin: 0 auto;
}

header, main, section {
  width: 85%;
  margin: 0 auto;
}

header > img {
  display: block;
  width: 300px;
  margin: 0 auto;

  @media (min-width: 800px) {
    width: 350px;
  }
}

nav > ul > li{
  display: inline-block;
  margin-bottom: 10px;
  &:last-child {
    margin-left: 10px;
  }
}

main {
  background-color: @white;
  box-sizing: border-box;
  padding: 100px;

  h1 {
    box-shadow: 0px 24px 3px -20px black;
  }

  h2 {
    color: @black;
  }

  h1, h2 {
    text-align: center;
  }

  #satisfaction {
    margin-top: 30px;
  }

  form > input[type="submit"] {
    width: 20%;
    height: 70px;
    display: block;
    margin: 0 auto;
    background-color: @darkBlue;
    border: none;
    color: @white;
    margin-top: 50px;
  }
}
