#rating-section {
  h1 {
    text-align: center;
    color: @white;
    padding: 30px;
  }

  position: relative;
  background-color: @darkBlue;

  .chart-container {
    padding-top: 50px;
    padding-bottom: 200px;
    margin: auto;
    position: relative;

    @media(min-width: 1650px) {
      width: 70%;
    }

    @media(max-width: 600px) {
      width: 100%;
    }
  }
}
