header {
  font-family: @poppins;
  font-size: 18px;
  padding-top: 25px;
  padding-bottom: 15px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav > ul > li {
    display: inline-block;

    &:last-child {
      margin-left: 20px;
    }
  }

  img {
    display: block;
    width: 100%;
    max-width: 150px;
    margin: 0 auto;
    padding-bottom: 50px;
  }
}
