#flex-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  label {
    width: 30%;
    margin-bottom: 30px;
    padding-bottom: 10px;
    font-family: @poppins;
    font-size: 18px;

    &:last-child {
      width: 100%;
    }
  }

  input {
    border-color: @darkBlue;
    border-width: 1.4px;
    margin-top: 10px;
    height: 35px;
    font-family: @poppins;
    font-size: 18px;

    &:last-child {
      width: 100%;
    }
  }

  input,
  label {
    display: block;
  }
  @media (max-width: 550px) {
    label {
      width: 100%;
    }
  }
}
