@import '../variables.less';

.layout-header{
  background-color: @darkBlue;
  color: @white;
  >div {
    padding: 50px;
  }
}

.layout-content{
  background-color: @white;
  >div {
    width: 70%;
    padding: 50px;
  }
  article {
    >.underlined:after {
      border-color: @darkBlue;
    }
  }
  p {
    >.underlined:after {
      border-color: @darkBlue;
    }
  }
}



