@import '../variables.less';

.layout-header{
  background-color: @darkBlue;
  color: @white;
  >div {
    padding: 30px;
  }
}

.layout-content{
  background-color: @white;
  >div {
    padding: 30px;
    font-size: 20px;
  }
}

